.angular/
.idea/
.nyc_output/
.vscode/
coverage/
dist/
eslint-plugin-angular-signal/
.editorconfig
CONTRIBUTING.md
karma.conf.js
tsconfig.spec.json
tsconfig.test.json
tsconfig.e2e.json
**/*.spec.d.ts
**/*.spec.js
**/*.spec.js.map
